{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="jumbotron">
      <h1>PLojo Family of APPS</h1>
    </div>

    <div class="row">

          <div class="col-xs-6 col-md-4">
              <a href="{{url_for('apps.simuojo')}}" class="thumbnail custom-card alert-success well-md" >
                <h2 align='center' class="card-title">Simuojo &nbsp; </h2>
                <hr>
            </a>
          </div>

        <div class="col-xs-6 col-md-4">
            <a href="{{url_for('apps.foldojo')}}" class="thumbnail custom-card alert-warning well-md">
                <h2 align='center' class="card-title">Foldojo &nbsp;</h2>
                <hr>
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="{{url_for('apps.plojo')}}" class="thumbnail custom-card alert-info well-md">
            <h2 align='center' class="card-title">Plojo &nbsp;</h2>
            <hr>
          </a>
        </div>
        
    </div>

    <div class="row">
    
      <div class="col-xs-6 col-md-4">
        <a href="{{url_for('apps.plojo_nior')}}" class="thumbnail custom-card alert-danger well-md">
          <h2 align='center' class="card-title">Plojo-nior &nbsp; </h2>
          <hr>
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="{{url_for('apps.plojo_help')}}" class="thumbnail custom-card alert-info well-md">
          <h2 align='center' class="card-title">Plojo Help &nbsp;</h2>
          <hr>
        </a>
      </div>
        
    </div>

{% endblock %}

