{% extends "base.html" %}


{% block app_content %}

<div style='margin:auto;max-width: 1200px;'>
<div>
    <h1 align='center' style="font-family: cursive;">Molecular Weight Calculator</h1>
</div>


<div class='form-group'>
    <label for="sequence" class='control-label'>Enter Sequence: <span id="sequence_info"></span></label>
    <textarea class="form-control sequence input" id="sequence" name="sequence" placeholder="Enter Sequence Here"
        style="height: 200px"></textarea>   
</div>

<div class = 'sequence'>
    <h3 id='result'>M.W.: 0</h3>
</div>

<div class='row' style='font-family: monospace;'>
    <div class='col-xs-3'>
        <ul>
            <li>Z: 5'Amino , 179.151</li>
            <li>B: 5'Biotin, 405.445</li>
            <li>ATGC: 2'F    AUGC</li>
            <li>atgc: 2'O-Me AUGC</li>
        </ul>
    </div>
    <div class='col-xs-3'>
        <ul>
            <li>2'F A: 331.198</li>
            <li>2'F U: 308.158</li>
            <li>2'F C: 307.173</li>
            <li>2'F G: 347.196</li>
        </ul>
    </div>
    <div class='col-xs-3'>
        <ul>
            <li>2'O-Me A:343.232</li>
            <li>2'O-Me U:320.192</li>
            <li>2'O-Me C:319.208</li>
            <li>2'O-Me G:359.231</li>
        </ul>
    </div>
    <div class='col-xs-3'>
        <ul>
            <li>DMT: +302.364</li>
            <li>MMT: +272.338</li>
        </ul>
    </div>
</div>

<div id='extra_result'>

</div>

</div>





<script>

$(document).on("change paste input","#sequence",function(event) {
    let seq = $(event.target).val().split(' ').join('').split('\n').join('');
    let mw;
    if ((/\d/.test(seq))) {
    // seq contains numbers:
        [mw, seq] = formula_mw(seq);
        $('#sequence').val(seq);
        $('#result').text(`M.W.: ${mw? mw.toFixed(3):"Not a valid chemical formula."}`);
        $('#sequence_info').text("");
         $('#extra_result').html("");

    } else {
        $('#sequence_info').text(` Length: ${seq.length} n.t.`);
        $('#sequence').val(seq);
        mw = mw_calculator(seq);
        $('#result').text(`M.W.: ${mw.toFixed(3)}`);
        $('#extra_result').html(`
<h3 align='center' style='font-family: monospace;'>Possible Byproduct M.W.</h3>
<div class='row' style='font-family: monospace;'>
<div class='col-xs-3'>
    <ul>
        <li>n-1: ${ mw_calculator(seq.slice(1, seq.length)).toFixed(3)}</li>
        <li>n-2: ${ mw_calculator(seq.slice(2, seq.length)).toFixed(3)}</li>
        <li>n-3: ${ mw_calculator(seq.slice(3, seq.length)).toFixed(3)}</li>
        <li>n-4: ${ mw_calculator(seq.slice(4, seq.length)).toFixed(3)}</li>
        <li>n-5: ${ mw_calculator(seq.slice(5, seq.length)).toFixed(3)}</li>
    </ul>
</div>
<div class='col-xs-3'>
    <ul>
        <li>+DMT: ${(mw + 302.3638).toFixed(3)}</li>
        <li>+MMT: ${ (mw + 272.3384).toFixed(3)}</li>
        <li>+Ac : ${ (mw + 42.0361).toFixed(3)}</li>
    </ul>
</div>    
</div>     
        `)
    }
})

/*
2'F NMP chemical formula
A: C10H13N5O6FP
U: C9H12N2O8FP
G: C10H13N5O7FP
C: C9H13N3O7FP

Nucleoside
A: 135.126 - 18.015 = 117.111
G: 151.125 - 18.015 = 133.11
T: 112.086 - 18.015 = 94.071
C: 111.101 - 18.015 = 93.086
*/



function mw_calculator(seq) {
    let nt_weight = {
        'A': 331.19748, 'T': 308.15758, 'C': 307.17278, 'G': 347.19628, 'Z': 179.151422, 'B': 405.444582,
        'a': 343.232297, 't': 320.192397, 'c': 319.207597, 'g': 359.231097,
    }; // m.w. of 2'f NMP-H2O
    let mw = 0;
    Object.keys(nt_weight).forEach(function (key) {
        let reg = new RegExp(key, 'g');
        mw += (seq.match(reg) || []).length * nt_weight[key]
    });
    mw -= 61.964;
    return mw
}


    function formula_mw(formula) {
        let r = /[A-Z][a-z]*\d*/g;
        let numbers = [];
        let m;
        while ((m = r.exec(formula)) != null) {
            numbers.push(m[0]);
        };
        let mw = 0;
        const atom_w = {
            H: 1.00784, He: 4.003, Li: 6.941, Be: 9.012, B: 10.811, C: 12.0107, N: 14.0067, O: 15.999, F: 18.998403, Ne: 20.18,
            Na: 22.989769, Mg: 24.305, Al: 26.981539, Si: 28.0855, P: 30.973762, S: 32.065, Cl: 35.453, Ar: 39.948, K: 39.0983, Ca: 40.078,
            Sc: 44.956, Ti: 47.867, V: 50.942, Cr: 51.996, Mn: 54.938, Fe: 55.845, Co: 58.933, Ni: 58.693, Cu: 63.546, Zn: 65.39,
            Ga: 69.723, Ge: 72.64, As: 74.922, Se: 78.96, Br: 79.904, Kr: 83.8, Rb: 85.468, Sr: 87.62, Y: 88.906, Zr: 91.224,
            Nb: 92.906, Mo: 95.94, Tc: 98, Ru: 101.07, Rh: 102.906, Pd: 106.42, Ag: 107.868, Cd: 112.411, In: 114.818, Sn: 118.71,
            Sb: 121.76, Te: 127.6, I: 126.905, Xe: 131.293, Cs: 132.906, Ba: 137.327, La: 138.906, Ce: 140.116, Pr: 140.908,
            Nd: 144.24, Pm: 145, Sm: 150.36, Eu: 151.964, Gd: 157.25, Tb: 158.925, Dy: 162.5, Ho: 164.93, Er: 167.259, Tm: 168.934,
            Yb: 173.04, Lu: 174.967, Hf: 178.49, Ta: 180.948, W: 183.84, Re: 186.207, Os: 190.23, Ir: 192.217, Pt: 195.078,
            Au: 196.967, Hg: 200.59, Tl: 204.383, Pb: 207.2, Bi: 208.98, Po: 209, At: 210, Rn: 222, Fr: 223, Ra: 226, Ac: 227,
            Th: 232.038, Pa: 231.036, U: 238.029, Np: 237, Pu: 244, Am: 243, Cm: 247, Bk: 247, Cf: 251, Es: 252, Fm: 257, Md: 258,
            No: 259, Lr: 262, Rf: 261, Db: 262, Sg: 266, Bh: 264, Hs: 277, Mt: 268
        };
        numbers.forEach(function addup(k) {
            let num = k.match(/\d+/);

            mw += atom_w[k.match(/[A-Z][a-z]*/)[0]] * parseInt(num ? num[0] : 1)
        });
        return [mw, numbers.join("")]
    }



</script>



{% endblock %}
