{% extends "base.html" %}
{% block styles %}
{{super()}}
<link href="{{url_for('static',filename='foldojo.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block app_content %}
<div id="embeded_bokeh">
{{script|safe}}
<datalist id='usernamelist'>
    <option value="{{current_user.username}}"></option>
</datalist>

</div>
{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    // load failed handler
    $(document).ready(function () {
        let count=0;
        let result=false;
        var interval=setInterval( function() {
        count+=1;
        $("#embeded_bokeh").children().each(function(){
            let id= $(this).attr('class');
        if (id || count>=10) {
            if (id){result=true;console.log('id loaded')};

            let count2 = 0;
            var interval2 = setInterval(function () {
                count2 += 1;
                
                if ($("input[placeholder='username']").attr('list')=='usernamelist' || count2 >= 20) {
                    console.log('namelist attached.')
                    clearInterval(interval2);
                }
                $("input[placeholder='username']").attr('list', 'usernamelist');
            
            }, 200
            );
            
            clearInterval(interval);
        }
        })
        },200
       );

    

       setTimeout(function() {if (!result){
           console.log(result);
            if (!result) {
                $("#embeded_bokeh").html(
                    `<h1>Load Application Failed ! &#128565;</h1>
                <img src="{{url_for('static',filename='images/loadfailed.gif')}}" class="img-responsive" alt="Responsive image">`)
            } };},3000);
    }
    )

   

</script>
{% endblock %}
