<table class="table table-hover" id="browse_content_table">
    <tr>
        <th width="50px">
            ID
        </th>
        <th width = "400px">
            {{ table.upper() }}
        </th>
        <th></th>
    </tr>

    {% for entry in entries %}
    <tr id="{{entry.__tablename__}}_{{entry.id}}">
        <td width="50px" class='entry_id'>
            {% if entry.haschildren() and nextcontent %}
                <a href="{{ url_for('ngs.browse', table=nextcontent, id=entry.id ) }}">{{ entry.id_display }}</a>
            {%else%}{{entry.id_display}}{% endif %}
        </td>
        <td class='display_content'>
            <li><a href="{{url_for('ngs.details',table=entry.__tablename__,id=entry.id|string)}}"><b>{{entry.display()[0]}}</b></a></li>
            {% for line in entry.display()[1:] %}
                    <li>{{line}}</li>
            {% endfor %}
        </td>
        {% if entry.__tablename__=='ngs_sample_group' %}
        <td >
            {% set uploadto %}{{ entry.id }}{% endset %}
            {% include 'upload/uploadwidget.html'%}
            {% if entry.processed %}
            <div class='row'>
            <div class='col-md-4'>
            <a class="btn btn-default" href="javascript:start_ngs_data_parsing('{{entry.id}}','retract')" 
            onclick="return confirm('Sure want to RETRACT the commit? This cannot be undone.')" role="button">
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Retract Last Commit</a></div>
            <div class='col-md-4'>
                <a class="btn btn-default" href="javascript:start_ngs_data_parsing('{{entry.id}}','false')"
                    onclick="return confirm('Sure want to process without commit to database?')" role="button">
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Process No Commit</a>
            </div>
            <div class='col-md-4'><a class="btn btn-default" data-toggle="modal"
                    data-target="#ngs_sample_group_para_{{entry.id}}"><span class="glyphicon glyphicon-cog"
                        aria-hidden="true"></span> Process Para</a></div>
            <!-- <div class='col-md-4'><input class="form-control" id="commit_threshold_{{entry.id}}" value=""
                    placeholder="Threshold, default 2"></div> -->
            </div>
            {% elif entry.task_id %}
            <div class="progress ">
                <div class="progress-bar progress-bar-striped active" id="{{entry.__tablename__+':'+entry.id|string}}" role="progressbar"
                    aria-valuenow="{{entry.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{entry.progress}}%">
              {{entry.progress}}%
             </div>
            </div>
            {% elif entry.datafile %}
            <div class='row'>
                <div class='col-md-4'>
            <a class="btn btn-default" href="javascript:start_ngs_data_parsing('{{entry.id}}','true')" role="button">
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Process And Commit</a></div>
            <div class='col-md-4'>
            <a class="btn btn-default" href="javascript:start_ngs_data_parsing('{{entry.id}}','false')" 
            onclick="return confirm('Sure want to process without commit to database?')" role="button">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true" ></span> Process No Commit</a>
                </div>
                <!-- <div class='col-md-4'><input class="form-control" id="commit_threshold_{{entry.id}}" value="" placeholder="Threshold, default 2"></div> -->
                
                <div class='col-md-4'><a class="btn btn-default" data-toggle="modal" data-target="#ngs_sample_group_para_{{entry.id}}"><span class="glyphicon glyphicon-cog"
                        aria-hidden="true"></span> Process Para</a></div>
            </div>
            {% endif %}
        </td>

        <div class="modal fade" id="ngs_sample_group_para_{{entry.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">" {{entry.name}} " - Process Settings</h4>
                    </div>
                    
                        <div class="modal-body">
                            <h4>Step 1:</h4>
                            <b>Extract F/R aptamer sequences flanked by correct index & selection primers.</b>
                            <form action="" class = "form" id="ngs_form_{{entry.id}}">
                            <h4>Step 2: (Optional) <span class="glyphicon glyphicon-question-sign question_tooltip" aria-hidden="true" data-toggle="tooltip" data-placement='right' title = "Equal Length filter: pass if the F/R fragments have equal length. If one of the strand doesn't have matching primers, considerred fail."></span></h4>
                            <div class="checkbox">
                                <label >
                                    <input name='0' type="checkbox" {% if entry._filters[0] %}checked{% endif %}> <b>Apply Forward-Reverse match Equal Length filter</b>
                                </label>
                            </div>
                            <h4>Step 3: (Optional) <span class="glyphicon glyphicon-question-sign question_tooltip" aria-hidden="true" data-toggle="tooltip"
                                data-placement='right' title="Reverse-Complement filter: pass if F/R fragments are reverse complement."></span></h4>
                            <div class="checkbox">
                                <label>
                                    <input name='1' type="checkbox" {% if entry._filters[1] %}checked{% endif %}>  <b>Apply Reverse Complement filter</b> 
                                </label>
                            </div>
                            <h4>Step 4: (Optional) <span class="glyphicon glyphicon-question-sign question_tooltip" aria-hidden="true" data-toggle="tooltip"
                                data-placement='right' title="Q-score filter: Best-Q-score fragment is assembled using the bases with higher Q-score in F/R fragment. Pass if lowest Q-score of the best-Q-score fragment >= Q-score threshold."></span></h4>
                            
                                <div class="checkbox">
                                    <label>
                                        <input name='2' type="checkbox" {% if entry._filters[2] %}checked{% endif %}> <b>Apply Q-score filter</b> 
                                    </label>
                                </div>  
                                <div class="form-group" style="width: 30%;">
                                    <label>Q-score Threshold (0-40)</label>
                                    <input type="text" class="form-control" name="3" placeholder="Threshold" value="{{entry._filters[3]}}">
                                </div>
                           
                            <h4>Step 5: Commit to database <span class="glyphicon glyphicon-question-sign question_tooltip" aria-hidden="true" data-toggle="tooltip"
                                data-placement='right' title="Count filter: After applying selected filters, sequences with copy number > count threshold are committed."></span></h4>
                            <div class="form-group"  style="width: 30%;">
                                <label>Commit Count Threshold</label>
                                <input type="text" class="form-control" name="4" placeholder="Threshold" value="{{entry._filters[4]}}">
                            </div>                           
                            </form>
                            
                        </div>
        

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save Para</button>
                            <!-- <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Save Edit"> -->
                            
                        </div>
                        <!-- <div class="modal-body">
                            
                            <p><b>Equal Length filter</b>: pass if the F/R fragments have equal length. If one of the strand doesn't have
                                matching primers, considerred fail.</p>
                            <p><b>Reverse-Complement filter</b>: pass if F/R fragments are reverse complement.</p>
                            <p><b>Q-score filter</b>: Best-Q-score fragment is assembled using the bases with higher Q-score in F/R fragment.
                                Pass if lowest Q-score of the best-Q-score fragment >= Q-score threshold.</p>
                            <p><b>Count filter</b>: After applying selected filters, sequences with copy number > count threshold are committed.
                            </p>
                        </div> -->
                   
        
                </div>
            </div>
        </div>




        {% endif %}

        <td width = '70px'>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Option
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('ngs.details',table=entry.__tablename__,id=entry.id|string)}}">Details</a></li>
            <li><a href="{{url_for('ngs.edit',toadd=entry.__tablename__,id=entry.id|string)}}">Edit</a></li>
            {% if table=='selection' or table=='round' %}
            <li><a href="javascript:add_to_analysis('{{entry.__tablename__}}',{{entry.id}});">Add To Analysis</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{{url_for('ngs.delete',table=entry.__tablename__,todelete=entry.id)}}" onclick="return confirm('Sure to delete {{entry.__repr__()}}?')">Delete</a></li>
          </ul>
        </div>
        </td>


    </tr>
    {% endfor %}
</table>


