

<table class="table table-hover">
    <tr>
        <th width="50px">
            ID
        </th>
        <th width = "400px">
            {{ content.upper() }}
        </th>
        <th></th>
    </tr>

    {% for entry in entries %}
    <tr>
        <td width="50px">
            {% if entry.haschildren() and nextcontent %}
                <a href="{{ url_for('ngs.browse', content=nextcontent, id=entry.id ) }}">
                    {{ entry.id_display }}
                    </a>
            {%else%}
            {{entry.id_display}}
            {% endif %}
        </td>
        <td>
            <li><b>{{entry.display()[0]}}</b></li>
            {% for line in entry.display()[1:] %}
                    <li>{{line}}</li>
            {% endfor %}
        </td>
        {% if entry.__tablename__=='ngs_sample_group' %}
        <td >
            {% set uploadto %}{{ entry.id }}{% endset %}
            {% include 'upload/uploadwidget.html'%}
            {% if entry.processed %}
            <button class="btn btn-default disabled" type="button"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Already Processed</button>
            {% elif entry.progress %}
            <div class="progress ">
                <div class="progress-bar progress-bar-striped active" id="{{entry.__tablename__+'-'+entry.id|string}}" role="progressbar"
                    aria-valuenow="{{entry.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{entry.progress}} %">
              {{entry.progress}}%
             </div>
            </div>
            {% elif entry.datafile %}
            <a class="btn btn-default" href="{{url_for('ngs.ngs_data_processing',id=entry.id)}}" role="button">
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Process NGS Data</a>
            {% endif %}

        </td>
        {% endif %}

        <td width = '70px'>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Option
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('ngs.details',table=entry.__tablename__,id=entry.id|string)}}">Details</a></li>
            <li><a href="{{url_for('ngs.edit',toadd=entry.__tablename__,id=entry.id)}}">Edit</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{url_for('ngs.delete',table=entry.__tablename__,todelete=entry.id)}}" onclick="return confirm('Sure to delete {{entry.__repr__()}}?')">Delete</a></li>
          </ul>
        </div>
        </td>


    </tr>
    {% endfor %}
</table>
