{% extends 'ngs/browse_base.html' %}

{% block browse_content %}


<h1>ANALYSIS - {{'< '+analysis.__repr__()+' >' }}</h1>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"  {% if active_tab=='load'%}class="active"{% endif %} ><a href="#load" aria-controls="load" role="tab"
                data-toggle="tab">LOAD</a></li>
        <li role="presentation" {% if active_tab=='cluster'%}class="active"{% endif %}><a href="#cluster" aria-controls="cluster" role="tab" data-toggle="tab">CLUSTER</a></li>
        <li role="presentation" {% if active_tab=='result'%}class="active"{% endif %}><a href="#result" aria-controls="result" role="tab" data-toggle="tab">RESULT</a>
        </li>
        <li role="presentation" {% if active_tab=='download'%}class="active"{% endif %}><a href="#download" aria-controls="download" role="tab" data-toggle="tab">DOWNLOAD</a>
        </li>
        <li role="presentation" {% if active_tab=='advanced'%}class="active" {% endif %}><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">ADVANCED</a>
        </li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
        <!-- load panel -->
        <div role="tabpanel" class="tab-pane fade {% if active_tab=='load'%}active in{% endif %}" id="load">
                <div class='row well'>
                    <div class="col-md-6">
                <label class="control-label" for="name">Name:</label>
                <input class="form-control" id="name" name="name" placeholder="Analysis name" required="" type="text" value="{{analysis.name}}">
                <label class="control-label" for="note">Note:</label>
                <textarea class="form-control" id="note" name="note" placeholder="Notes (Optional)">{{analysis.note}}</textarea>
                </div>
                <div class='col-md-6'>
                    <label class="control-label"> </label>
                    <button  class="btn btn-default  btn-block" id="save_edit">Save Edit</button>
                    <hr>
                    {% if analysis.task_type() == 'Load' %}
                    <div class="progress ">
                        <div class="progress-bar progress-bar-striped active" id="{{'task:'+analysis.task_id}}" role="progressbar"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"> 0%</div>
                    </div>
                    {% else %}
                        <div id='load_progress'>                    
                        {% if analysis.analysis_file %}
                        <button class="btn btn-warning btn-block" id="load_rounds" {% if analysis.task_id %} disabled {%endif%}> <b>RE-LOAD</b> Rounds</button>
                        {% else %}
                        <button class="btn btn-default btn-block" id="load_rounds" {% if analysis.task_id %} disabled {%endif%}>Load Rounds</button>
                        {% endif %}
                        </div>
                    {% endif %}
                                                  
                </div>
                </div>
                <hr>
                
                <table class='table table-condensed table-hover'>
                    <thead><tr class='info'><th></th>
                        <th ><h5 align='center'>Rounds in analysis "{{analysis.name}}"</h5></th>
                        <th></th>
                    </tr></thead>
                    <tr>
                        <th width="90px">
                            ID
                        </th>
                        <th width="800px">
                            Round
                        </th>
                        <th>Remove</th>
                    </tr>
                    
                    {% for entry in analysis.rounds %}
                    <tr id="{{entry.__tablename__}}_{{entry.id}}">
                        <td width="50px">
                            {{entry.id_display}}
                        </td>
                        <td>
                            <li>Round Name: <a
                                    href="{{url_for('ngs.details',table=entry.__tablename__,id=entry.id|string)}}"><b>{{entry.display()[0]}}</b></a>
                            </li>
                            <li>{{entry.display()[1]}}</li>
                        </td>
                        <td><span class="btn glyphicon glyphicon-trash" aria-hidden="true" id='{{entry.id}}'></span></td>
                    </tr>
                    {% endfor %}
                </table>
        </div>

        <!-- cluster parameter panel -->
        <div role="tabpanel" class="tab-pane fade {% if active_tab=='cluster'%}active in{% endif %}" id="cluster">
            {% if analysis.hist %}
            <div class="row">
                <h3 align='center'>Analysis information plots</h3>                
                <div class="col-xs-6 col-md-6">
                    <div class="thumbnail custom-card alert-success well-lg">
                        <img src="{{url_for('ngs.analysis_data',filename=analysis.hist[1],randid=range(11999, 9999999) | random)}}" class="img-responsive"
                            alt="Responsive image">
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="thumbnail custom-card alert-success well-lg">
                        <img src="{{url_for('ngs.analysis_data',filename=analysis.hist[0],randid=range(11999, 9999999) | random)}}" class="img-responsive"
                            alt="Responsive image">
                    </div>
                </div>
            </div>
            <hr>
            {% if analysis.task_type() == 'Build' %}
                    <div class="progress ">
                        <div class="progress-bar progress-bar-striped active" id="{{'task:'+analysis.task_id}}" role="progressbar"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"> 0%</div>
                    </div>
            {% else %}
            <div class="row" id="cluster_progress">
            <div class="col-xs-6 col-md-2"><input class="form-control" id="distance" name="distance" placeholder="Cluster Distance" required="" type="text"> </div>
            <div class="col-xs-6 col-md-2"><input class="form-control" id="cutoff_l" name="cutoff_l" placeholder="Length Lower Limit"
                    required="" type="text" > </div>
            <div class="col-xs-6 col-md-2"><input class="form-control" id="cutoff_u" name="cutoff_u"
                    placeholder="Length Upper Limit" required="" type="text"> </div>
            <div class="col-xs-6 col-md-2"><input class="form-control" id="threshold" name="threshold" placeholder="Count threshold"
                    required="" type="text" > </div>
            <div class="col-xs-6 col-md-3"><button class="btn btn-default  btn-block" id="start_cluster" {% if analysis.task_id %} disabled {%endif%}>Cluster</button></div>
            </div>
            {% endif %}
            <hr>
            <h3>Current Clustering Parameters:</h3>
            {% for ele in analysis.clustering_parameter() %}
                    <li>{{ele}}</li>
            {% endfor %}
            
            {% else %}
                    <h2>Round data not loaded, please load data first.</h2>
            {% endif %}
            <hr>
        </div>

        <!-- result panel -->
        <div role="tabpanel" class="tab-pane fade {% if active_tab=='result'%}active in{% endif %}" id="result"> 
            {% if analysis.clustered %}          
            <div class="row">
                <h3 align='center'>Clustering Results</h3>
                <div class="col-xs-6 col-md-7">
                    <div class="thumbnail custom-card alert-success well-lg">
                        <img src="{{url_for('ngs.analysis_data',filename=analysis.heatmap,randid=range(11999, 9999999) | random)}}" class="img-responsive"
                            alt="Responsive image">
                    </div>
                    {% set df_table = analysis.df_table() %}
                    <hr>
                    <table class='table table-condensed table-bordered'>
                        <thead>
                            <tr><th colspan="7"><h5 align='center'>Round Analysis Information</h5></th></tr>
                        </thead>
                        <tr>
                            <th width="60px">Round</th>
                            <th width="60px">Unique</th>
                            <th width="60px">Ana. Read</th>
                            <th width="60px">Ttl. Read</th>
                            <th width="60px">Percent</th>
                            <th width="60px">80% Read</th>
                            <th width="60px">Max Read</th>
                        </tr>
                        {% for row in df_table['table'] %}
                        <tr>
                               {% for td in row %}
                                    <td>{{td}}</td>
                               {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <table class='table table-condensed table-bordered'>
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <h5 align='center'>{{df_table['cluster'][0]}}</h5>
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <th width="100px">Cluster Percentile</th>
                            <th width="100px">Cluster Total Read</th>
                            <th width="100px">Unique Sequence Count</th>
                        </tr>
                        {% for row in df_table['cluster'][1:] %}
                        <tr>
                            {% for td in row %}
                            <td>{{td}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    
                </div>
                <div class="col-xs-6 col-md-5">
                    <div class="thumbnail custom-card well-lg">
                        <table class='table table-condensed table-hover table-bordered'>
                            <tr>
                                <th>Cluster</th>
                                <th>Rep_SEQ</th>
                                <th>Similar To</th>
                            </tr>
                            {% for cluster in analysis.cluster_table %}
                            <tr>
                                <td>
                                    <a href="{{url_for('ngs.analysis_cluster',id=analysis.id,cluster=cluster[1])}}">{{cluster[0]}}</a>
                                </td>
                                <td>
                                    <a href="{{url_for('ngs.details',table='sequence_round',id=(cluster[3],cluster[4])|string)}}">{{cluster[2]}}</a>
                                </td>
                                <td>
                                    {% for ele in cluster[5] %}
                                        <a href="{{url_for('ngs.details',table='known_sequence',id=ele[1])}}">{{ele[0]}}</a> 
                                    {% endfor %}    
                                </td>
                            </tr>       

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
             <h2 align='center'>Cluster result not Available. Perform clustering first.</h2>
            {% endif %}
            
        </div>


        <!-- download panel -->
        <div role="tabpanel" class="tab-pane fade {% if active_tab=='download'%}active in{% endif %}" id="download"> 
            {% if analysis.analysis_file or analysis.pickle_file%}
            {% if analysis.analysis_file %}
                    <h2 align='center'><a align='center' class='btn btn-default btn-lg'
                        href="{{url_for('ngs.analysis_data',filename=analysis.analysis_file,randid=range(11999, 9999999) | random)}}"><h2>Download Data JSON File</h2><br><h4>{{analysis.__repr__()}}</h4></a></h2>
            {% endif %}
            {%if analysis.pickle_file%}
                <h2 align='center'><a align='center' class='btn btn-default btn-lg'
                        href="{{url_for('ngs.analysis_data',filename=analysis.pickle_file,randid=range(11999, 9999999) | random)}}">
                        <h2>Download Pickle JSON File</h2><br>
                        <h4>{{analysis.__repr__()}}</h4>
                    </a></h2>
            {% endif %}
            {%else%}
            <h2 align='center'>Data File Not Available. Load NGS data first.</h2>
            {% endif %}
        </div>

        <!-- advanced tab -->
        <div role="tabpanel" class="tab-pane fade" id="advanced">
            <style>
                .scrollcontainer {
                    margin-top: 5px;
                    position: relative;
                    height: 900px;
                    overflow-y: scroll;
                    }
                ul.nav-pills {
                    top: 20px;
                    position: relative ;
                }
            
                div.col-sm-9 .items {
                    min-height: 200px;
                    font-size: 12px;
                    padding: 0px 15px 15px 15px;
                }
            
                .section1 {
                    color: #fff;
                    background-color: #1E88E5;
                }
            
                .section2 {
                    color: #fff;
                    background-color: #673ab7;
                }
            
                .section3 {
                    color: #fff;
                    background-color: #ff9800;
                }
            
                .section4 {
                    color: #fff;
                    background-color: #00bcd4;
                }
            
                .section5 {
                    color: #fff;
                    background-color: #009688;
                }
            </style>
       
                <div class="row">
                    <nav class="col-sm-3 scrollcontainer" id="myScrollspy">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#{{api[0]['name']}}">{{api[0]['name']}}</a></li>
                            {% for ele in api[1:] %}
                                <li ><a href="#{{ele['name']}}">{{ele['name']}}</a></li>
                            {% endfor %}
                            <li style="height: 200px;">
                                <p></p>
                            </li>
                        </ul>
                    </nav>
                    <div class="col-sm-9 scrollcontainer" data-spy="scroll" data-target="#myScrollspy" data-offset="200">
                        {% for item in api %}
                        <div id="{{item['name']}}" class="items section{{loop.index%5+1}}">
                                <h3>{{item['name']}}</h3>
                                <h5>Doc:</h5>
                                <p style='white-space:pre-wrap'>{{item['doc']}}</p>
                                <p style='white-space:pre-wrap'><b>Call Signature:</b> {{item['signature']}}</p>
                                <div class="input-group">
                                    <input style="font-family: monospace;font-size: 12px;" type="text" class="form-control" id="{{item['name']}}-input" placeholder="{{item['defaultpara']}}" value="{{analysis.advanced_result_call_para(item['name'], item['defaultpara'])}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default advanced_result_call" type="button" onclick="javascript:advanced_result_call('{{item['name']}}')"><span class="glyphicon glyphicon-play"></span></button>
                                    </span>
                                </div>


<div class="panel panel-default" style="color:black">
    <div class="panel-heading" role="tab">
        <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{item['name']}}-result-panel" aria-expanded="true"
            aria-controls="{{item['name']}}-result-panel" class="advanced_result_panel custom-card" style="padding-right:70%;">
             Result Panel 
        </a>
        <div class="panel-toggle-button " style="display:inline;">
        <span class="glyphicon glyphicon-collapse-up " onclick="javascript: toggle_collapse()" style="margin-left:50px;cursor: pointer;"></span></div>
    </h3>
    </div>
    <div id="{{item['name']}}-result-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingQuickLink">
      

        <div class='panel-body result' id="{{item['name']}}-result" >
            <!-- if task in process display task progress bar -->
            {% include "ngs/analysis_advanced_result.html" %}
        </div>

      
    </div>
</div>
                                
                        </div> 
                        
                        <hr>
                        {% endfor %}      
                        <div style="height: 800px;">
                            <p></p>
                        </div>                  
                    </div>
                </div>
       

        </div>
        
    </div>

</div>






{% endblock %}

{% block scripts %}
{{super()}}
<script>
    // set active tab
    function set_active_tab (name) {
        $("div[role='tabpanel']").each(function(index){
            let thisid = $(this).attr('id')
            if (thisid==name) {
                $(this).addClass('active in');
                $(`a[href='#${thisid}']`).parent().addClass('active');
            }
            else { $(this).removeClass('active in');
        $(`a[href='#${thisid}']`).parent().removeClass('active');};
        });
    };


    $(".glyphicon-trash").on("click", function (event) {
        let rowid = '#round_'+event.target.id;
        $(rowid).fadeOut();
        $(rowid).attr('id', 'trash' + event.target.id);
    });

    $("#save_edit").on('click',function save_edit () {
        if (confirm('Save Edit to Current Analysis?')){
        let name = $("#name").val();
        let note = $("#note").val();
        let round = $("tr[id*='round']").toArray().map((ele) => { return ele.id });
        $.ajax({
            url: "{{url_for('ngs.edit_analysis')}}",
            type:"POST",
            data:JSON.stringify({id: {{analysis.id}},name:name,note:note,round:round}),
            contentType:"application/json",
            success: function(result){
                alert(result)
            },
            error: function (xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })}
    });

    function replace_with_progressbar(id,taskid) {
            $(id).html(
                `<div class="progress">
                <div class="progress-bar progress-bar-striped active" id="task:`+ taskid + `" role="progressbar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                    0%
             </div>
            </div>`)
        }

    $('#load_rounds').on('click', function load_rounds() {
        if (confirm('Load selected rounds data to analysis?')) {
        $.ajax({
            url:"{{url_for('ngs.load_analysis_rounds')}}",
            type:"POST",
            data:JSON.stringify({id:{{analysis.id}}}),
            contentType:"application/json",
        }).done(function(result) {
            replace_with_progressbar("#load_progress",result.id);            
            update_progress_bar(); 
        })    
        }        
    });
    

    $('#start_cluster').on('click', function () {
            let distance = $('#distance').val();
            let cutoff_l = $('#cutoff_l').val();
            let cutoff_u = $('#cutoff_u').val();
            let threshold = $('#threshold').val();
            if (confirm('Start clustring with provided parameters?')) {
                $.ajax({
                    url: "{{url_for('ngs.build_cluster')}}",
                    type: "POST",
                    data: JSON.stringify({ id: {{ analysis.id }},distance:distance,cutoff_l:cutoff_l,cutoff_u:cutoff_u,threshold:threshold}),
            contentType: "application/json",
        }).done(function (result) {
                if (result.id) {
                    replace_with_progressbar("#cluster_progress", result.id);
                    update_progress_bar(); 
                }
                else { alert('Wrong Parameters\n'+result.error)};                
            })    
        }        
    });

    function advanced_result_call (name) {
        let input = $('#'+name+'-input').val();
        $.ajax({
            url: "{{url_for('ngs.analysis_call_advanced')}}",
            type: "POST",
            data: JSON.stringify({name:name,para:input,id:"{{analysis.id}}"}),
            contentType: "application/json"
        }).done(function(result) {
            if (result.id) {
                replace_with_progressbar('#' + name + '-result', result.id);
                disable_advanced_result_call(true);
                update_advanced_analysis_progress_bar('#' + name + '-result')
            } else if (result.html) {
                $('#' + name + '-result').html(result.html);                
            }


        })
    }


// special method to display advanced result on the same page 

    function update_advanced_analysis_progress_bar(container_id) {
        let interval = setInterval(function () {
            var barlist = [];
            $(container_id).find('.progress-bar').each(function () {
                barlist.push(this.id);
            });
            // make ajax request to get  progress info
            $.ajax({
                url: "{{ url_for('ngs.get_bar_progress')}}",
                type: "POST",
                data: JSON.stringify({ barlist: barlist }),
                contentType: 'application/json',
                success: function (result) {
                    let alldone = true;
                    for (let [barid, progress] of Object.entries(result)) {
                        set_bar_progress(barid, progress);
                        if (progress < 100) { alldone = false };
                    };
                    // break out set interval if all done.
                    if (alldone) { 
                        clearInterval(interval); 
                        replace_progressbar_with_result(container_id)};
                },
            });
        }, 300);
    };

    // replace finished progress bar with advanced result. 
    function replace_progressbar_with_result(container_id) {
        $.ajax({
            url: "{{ url_for('ngs.analysis_advanced_result')}}",
            type: "POST",
            data: JSON.stringify({ name: container_id , id: "{{analysis.id}}"}),
            contentType: 'application/json',
            success: function (result) {
                $(container_id).html(result.html);
                disable_advanced_result_call(false);
            },
        });
    }


    function disable_advanced_result_call (mode) {
        $('.advanced_result_call').attr('disabled',mode)
    }

    $(document).ready(function () {
        if ($('.progress-bar').length) {
            disable_advanced_result_call(true);
            update_advanced_analysis_progress_bar('#'+$('.progress-bar').parent().parent().attr('id'));
        }
    })

    function toggle_collapse() { 
        if($('.panel-toggle-button').hasClass('down') ){
            $('.panel-collapse').collapse('show');
            $('.panel-toggle-button').removeClass('down').html('<span class="glyphicon glyphicon-collapse-up " onclick="javascript: toggle_collapse()" style="margin-left:50px;cursor: pointer;"></span>')
        } else {
            $('.panel-collapse').collapse('hide');
            $('.panel-toggle-button').addClass('down').html('<span class="glyphicon glyphicon-collapse-down " onclick="javascript: toggle_collapse()" style="margin-left:50px;cursor: pointer;"></span>')
        } }
</script>
{% endblock %}
