{% extends "ngs/browse_base.html" %}



{% block browse_content %}
{% if entries %}

<nav aria-label="Page navigation">
  <ul class="pagination ">
    <li class=" previous {% if not prev_url %} disabled{% endif %}">
      <a class='page-link' href="{{ prev_url or '#' }}" aria-label="Previous">
        <span aria-hidden="true">&larr;</span>
      </a>
    </li>
    {% for pn,pu in page_url %}
       
      <li class="previous {% if pn==active %} active{% endif %}"><a href="{{pu}}">{{pn}}</a></li>
        
    {% endfor %}
    <li class=" previous {% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}" aria-label="Next">
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
    {% if table != 'sequence_round' and table!='analysis' %}
    <li class='disabled'><span aria-hidden="true">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </li>
    <li class="next"><a href="{{url_for('ngs.add',toadd=table)}}"><span class="glyphicon glyphicon-plus"
          aria-hidden="true"></span> {{table.upper()}}</a></li>
    {% endif %}
  </ul>
</nav>

{% include "ngs/_entry.html" %}

{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}

<script>
  function start_ngs_data_parsing(id,commit,) {
      //let threshold = $(`#commit_threshold_${id}`).val() || 2;
      let filters = $('form#ngs_form_'+id).serializeArray()
     
      /*if ( isNaN(threshold) && (commit!='retract')) {
        alert('Enther a valid threshold, must be integer.')
        return
      };*/
      $.ajax({
        url: "{{url_for('ngs.ngs_data_processing')}}",
        type: "POST",
        data: JSON.stringify({ id: id,commit:commit, filters: filters }), //parseInt(threshold)
        contentType: 'application/json',
        success: function (result) {
          if (result.reload) {location.reload();};
          display_flash_message(result.html, 1000);
        }
      })
  };

$(document).ready($(".question_tooltip").each(function() {$(this).tooltip()}) )

  
</script>
{% endblock %}