{% extends "base.html" %}



{% block app_content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='ngs_sample_group')}}">
            {% if table !='ngs_sample_group' %}
            Samples
            {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Samples</b></span>
            {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='primer')}}">
            {% if table!='primer' %}
            Primers
            {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Primers</b></span>
            {% endif %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='known_sequence')}}">
          {% if table!='known_sequence' %}
          Aptamers
          {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Aptamers</b></span>
          {% endif %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='selection')}}">
            {% if table!='selection' %}
            Selection
            {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Selection</b></span>
            {% endif %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='round')}}">
            {% if table!='round' %}
            Rounds
            {% else %} <span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Round</b></span>
            {% endif %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='sequence_round')}}">
            {% if table!='sequence_round' %}
            Sequence
            {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Sequence</b></span>
            {% endif %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('ngs.browse',table='analysis')}}">
          {% if table!='analysis' %}
          Analysis
          {% else %}<span style="color:rgb(0, 26, 255);text-decoration: underline;"><b>Analysis</b></span>
          {% endif %}</a>
        </li>
      </ol>
</nav>

{% block browse_content %}
{% endblock %}
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/ngs.js')}}"></script>
<script>
  
  function update_progress_bar() {
    let interval = setInterval(function () {
      var barlist = [];
      $('.progress-bar').each(function () {
        barlist.push(this.id);
      });
      // make ajax request to get  progress info
      $.ajax({
        url: "{{ url_for('ngs.get_bar_progress')}}",
        type: "POST",
        data: JSON.stringify({ barlist: barlist }),
        contentType: 'application/json',
        success: function (result) {
          let alldone = true;
          for (let [barid, progress] of Object.entries(result)) {
            set_bar_progress(barid, progress);
            if (progress < 100) { alldone = false };
          };
          // break out set interval if all done.
          if (alldone) { clearInterval(interval); window.location.reload() };
        },
        error: function (xhr, resp, text) {
          console.log(xhr, resp, text);
        }
      });
    }, 500);
  };

// set badge count
function set_analysis_count_badge(result) {
  $('#analysis_cart_count').html(result['analysis_count']);
  $('#analysis_cart_count_container').css('display', result['analysis_count'] ? 'block' : 'none');
}

 function update_progress_bar() {
      let interval = setInterval(function () {
        var barlist = [];
        $('.progress-bar').each(function () {
          barlist.push(this.id);
        });
        // make ajax request to get  progress info
        $.ajax({
          url: "{{ url_for('ngs.get_bar_progress')}}",
          type: "POST",
          data: JSON.stringify({ barlist: barlist }),
          contentType: 'application/json',
          success: function (result) {
            let alldone = true;
            for (let [barid, progress] of Object.entries(result)) {
              set_bar_progress(barid, progress);
              if (progress < 100) { alldone = false };
            };
            // break out set interval if all done.
            if (alldone) { clearInterval(interval); window.location.reload() };
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        });
      }, 500);
    };

// change synthesis status.
function add_sequence_to_synthesis(id) {
      $.ajax({
        url: "{{url_for('ngs.add_sequence_to_synthesis')}}",
        type: "POST",
        data: JSON.stringify({ id: id }),
        contentType: 'application/json',
        success: function (result) {
          display_flash_message(result.html, 1000);
          let status = result.status;
          if (status == 'To Synthesis') {
            $('#add_sequence_to_synthesis' + id).html('Synthesized');
            $('#sequence_syn_status' + id).css('display', "").html(result.note);
          } else if (status == 'Synthesized') {
            $('#add_sequence_to_synthesis' + id).html('To Synthesis');
            $('#sequence_syn_status' + id).css('display', "").html(result.note)
          }
        }
      })
  }


</script>

{% if table=='selection' or table=='round' %}
<script>
// ajax to add seleciton or round and update cart information.
function add_to_analysis(table,id) {
$.ajax({
url: "{{ url_for('ngs.add_to_analysis')}}",
type: "POST",
data: JSON.stringify({ data: [table,id] }),
contentType: 'application/json',
success: function (result) {
// update cart rendering.
set_analysis_count_badge(result);
},
error: function (xhr, resp, text) {
console.log(xhr, resp, text);
}
});
}
</script>
{% endif %}

{% endblock %}
