{% extends "base.html" %}



{% block app_content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {% if table !='ngs_sample_group' %}
            <a href="{{url_for('ngs.browse',table='ngs_sample_group')}}">Samples</a>
            {% else %}<b>Samples</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if table!='primer' %}
            <a href="{{url_for('ngs.browse',table='primer')}}">Primers</a>
            {% else %}<b>Primers</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
          {% if table!='known_sequence' %}
          <a href="{{url_for('ngs.browse',table='known_sequence')}}">Aptamers</a>
          {% else %}<b>Aptamers</b>
          {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if table!='selection' %}
            <a href="{{url_for('ngs.browse',table='selection')}}">Selection</a>
            {% else %}<b>Selection</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if table!='round' %}
            <a href="{{url_for('ngs.browse',table='round')}}">Rounds</a>
            {% else %} <b>Round</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if table!='sequence' %}
            Sequence
            {% else %}<b>Sequence</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
          {% if table!='analysis' %}
          <a href="{{url_for('ngs.browse',table='analysis')}}">Analysis</a>
          {% else %}<b>Analysis</b>
          {% endif %}
        </li>
      </ol>
</nav>

{% block browse_content %}
{% endblock %}
{% endblock %}


{% block scripts %}
{{super()}}

<script>

    // jquery legal id names
    function jq_id(myid) {
        return "#" + myid.replace(/(:|\.|\[|\]|,|=|@)/g, "\\$1");
    }
   // update progressbar
    function set_bar_progress(barid, progress) {
        const p = progress + '%';
        const txt = ((progress==100) ? 'Done.' : p); 
        console.log(barid,txt);
        $(jq_id(barid)).css('width', p).attr('aria-valuenow', progress).text(txt);
      };

    function update_progress_bar() {
      let interval=setInterval(function () {
        var barlist = [];
        $('.progress-bar').each(function () {
          barlist.push(this.id);
        });
        // make ajax request to get  progress info
        $.ajax({
          url: "{{ url_for('ngs.get_bar_progress')}}",
          type: "POST",
          data: JSON.stringify({ barlist: barlist }),
          contentType: 'application/json',
          success: function (result) {
            let alldone = true;
            for (let [barid, progress] of Object.entries(result)) {
              set_bar_progress(barid, progress);
              if (progress<100){alldone=false};
            };
            // break out set interval if all done.
            if (alldone) {clearInterval(interval)};
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        });
      }, 500);
    };

  {% if table == 'ngs_sample_group' %}

  // making progressbar when page first load.
  $(document).ready(function () {
    if ($(".progress-bar").length) {
      update_progress_bar();
    };
  });

{% elif table=='selection' or table=='round' %}
// ajax to add seleciton or round and update cart information.
function add_to_analysis(table,id) {
  $.ajax({
    url: "{{ url_for('ngs.add_to_analysis')}}",
    type: "POST",
    data: JSON.stringify({ data: [table,id] }),
    contentType: 'application/json',
    success: function (result) {
      // update cart rendering.
      set_analysis_count_badge(result);
    },
    error: function (xhr, resp, text) {
      console.log(xhr, resp, text);
    }
  });
}


{% endif %}
// set badge count
function set_analysis_count_badge(result) {
  $('#analysis_cart_count').html(`<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>` + result['analysis_count']);
  $('#analysis_cart_count_container').css('visibility', result['analysis_count'] ? 'visible' : 'hidden');
}

</script>

{% endblock %}
