{% extends "base.html" %}



{% block app_content %}
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav> -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {% if content !='ngssample' %}
            <a href="{{url_for('ngs.browse',content='ngssample')}}">Samples</a>
            {% else %}<b>Samples</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if content!='primer' %}
            <a href="{{url_for('ngs.browse',content='primer')}}">Primers</a>
            {% else %}<b>Primers</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if content!='selection' %}
            <a href="{{url_for('ngs.browse',content='selection')}}">Selection</a>
            {% else %}<b>Selection</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if content!='round' %}
            <a href="{{url_for('ngs.browse',content='round')}}">Rounds</a>
            {% else %} <b>Round</b>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            {% if content!='sequence' %}
            Sequence
            {% else %}<b>Sequence</b>
            {% endif %}
        </li>
      </ol>
</nav>

{% if entries %}
<!-- <hr> -->


<nav aria-label="...">
  <ul class="pager">
    <li class="previous {% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&larr; Previous</a>
    </li>
    <li class="previous" >
      <span>|</span>
    </li>
    <li class="previous {% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url or '#' }}">Next &rarr;</a>
    </li>
    {% if content != 'sequence' %}
            <li class="next"><a href="{{url_for('ngs.add',toadd=content)}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{content.upper()}}</a></li>
    {% endif %}
  </ul>
</nav>


{% include "ngs/_entry.html" %}

{% endif %}
{% endblock %}
