{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block app_content %}

<div class="panel panel-default col" >
  <div class="panel-body">

<form action="{{url_for('ngs.addsample',id=id)}}" method="post" class="form" id='add-ngs-sample-form'>
    <h2>{{title}} - {{ toadd.upper() }}</h2>
    {{ form.hidden_tag() }}

        <div class='form-row'>
            <div class='form-group col-xs-6'>
                {{wtf.form_field(form.name)}}
            </div>
            <div class='form-group col-xs-6'>
                {{wtf.form_field(form.note)}}
            </div>
        </div>
        <div class='form-row'>
            <div class='form-group col-xs-6'>
                {{wtf.form_field(form.add_sample, id='add-ngs-sample-member' ,class='btn btn-info')}}
            </div>
            <div class='form-group col-xs-6'>
                {{wtf.form_field(form.submit, class = 'btn btn-success')}}
            </div>
        </div>

        <table class="table table-hover col">
          <thead>
            <tr>
                <th>Selection</th>
                <th>Round</th>
                <th>FP Index</th>
                <th>RP Index</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id = 'add-ngs-sample-samples'>
            {% include 'ngs/samples.html' %}
        </tbody>
        </table>



</form>

</div>
</div>
<!--
{% for sample in form.samples %}
<tr>
    {% for field in sample %}
        <td >{{field}}</td>
    {% endfor %}
    <td><input type="submit" name="delete{{loop.index}}" class="btn btn-default" ></button> </td>
</tr>
{% endfor %} -->
    <!-- </div>
</div> -->

{% for key,item in datalist.items() %}
      <datalist id ="{{key}}">
        {% for value in item %}
      <option value ="{{value[0]}}" />
        {% endfor %}
        </datalist>

{% endfor %}


{% endblock %}
