<div class='col-xs-3 columns' id='column-{{col_number}}' {% if col_number >4 %}
        style="display:none"
{% endif %}
>
    <!-- panel to load and save data -->
    <div class="panel panel-info">
        <div class="panel-heading" role="tab">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-{{col_number}}"
                aria-expanded="true" class="custom-card">
                <h3 class="panel-title" align='center' id="panel-title-{{col_number}}"> Select Data </h3>
            </a>
        </div>
        <div id="panel-{{col_number}}" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
        <!-- panel body -->
        
       {% include "apps/animal/animal_data_form.html" %}
       
            <div class="input-group">
                <div class='col-xs-6'>
                    <a class='btn btn-info btn-block' onclick='javascript:display_figures(event,"{{col_number}}")'>Fetch</a></div>
                <div class='col-xs-6'>
                    <a class='btn btn-warning btn-block'  data-toggle='animal_help_tooltip' data-placement="bottom" title="Save notes and figure order of this column." 
                    onclick='javascript:save_experiment(event,"{{col_number}}")'>Save</a></div>
            </div>

        <!-- panel body -->
            </div>
        </div>
    </div>
<div class='sortable figure_container' id="figure-{{col_number}}">
    {% include "apps/animal/animal_data_figure.html" %}
</div>
</div>