a {
  cursor: pointer;
}
.cursor_pointer{
  cursor: pointer;
}

.narrow {
  padding-bottom:0px;
  margin:0px;
}

a.custom-card:hover {
  text-decoration: none;
}
a.custom-card:link {
  text-decoration: none;
}

img.image-link {
  border-radius: 15px;
  border: 1px solid rgb(144, 144, 161);
 
}
img.image-link:hover {
  border-radius: 1px;
  animation-name: round-boarder;
  animation-duration: 0.2s;
  border: 1px solid rgb(255, 86, 86);
  cursor: pointer;
}
.slide_container{
  padding: 5px;
  padding-bottom: 10px;
}
.slide_title{
  overflow-y: visible; 
  display:block;
  font-weight: bold;
  cursor: move;
}
.slide_flag{
  padding: 2px;
  padding-bottom: 5px;
  display:block;
 
}
.slide_title.small{
  height: 35px;
  font-size:8px;
}
.slide_title.medium{
  height: 30px;
}
.slide_title.large{
  height: 30px;
  font-size:14px;
}
.box{
  border: solid 1px #ddd;
  background: #fff;
  width: 100%;
  padding: 3px;
  overflow: display;
  display: block;
  overflow-y: scroll;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.box.small {
  height: 230px;
  
}
.box.medium {
   height: 380px;
  
}
.box.large {
   height: 580px;
 
}

.box.green {
  background: #BCED91;
  color: #3d6d12;
  border-color: #6dc520;
}

.box.red {
  background: #F08080;
  color: #931111;
  border-color: #c01717;
}

.box.blue {
  color: #084a84;
  background: #62B1F6;
  border-color: #0a65b5;
}


@keyframes round-boarder {
  from {border-radius: 17px;}
  to {border-radius: 1px;}
}

.input_container {
background-color: rgb(220, 247, 248);
cursor: pointer;
}

.narrow_row {
  padding: 0px;
  text-align: center;
  height: 10px;
  vertical-align: center;
  margin:0;
}

.sequence
{
     font-size:16px;
     font-family: monospace;
     padding: 0px 0px 0px 0px;
     text-align: center;
}

.slidezoom {
  transition: transform .2s; /* Animation */
}



.zoom-hidden-text {
  display: none;
}

.slidezoom:hover{
  position: sticky;
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 851;
  display: float;
}

.slidezoom:hover .zoom-hidden-text{
  display: block;
  font-size:6px;
  background-color: rgb(218, 245, 175);
}

.slide:hover .zoom-hidden-text {
  display: block;
  font-size:14px;
  background-color:  rgb(218, 245, 175)
}

/* 

.bgimg {
    background-image: url('{{url_for("static", filename="images/404.gif")}}');
    height: 600px;
    background-size: auto;
}
 .tagfloat {
   float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: #92AD40;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
} */
.customcontainer {
border: 1px solid #DDDDDD;
width: 800px;
height: 600px;
position: relative;
}



/* Toast messages*/

.toast__container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.toast__cell{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 700px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast__icon{
  background-color:#1D72F3;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--yellow .toast__icon{
  background-color:#FFC007;
}

.toast--yellow:before{
  background-color:#FFC007;
}


.flash_message_container{
  position: fixed;
  top: 0;
  width: 700px;
  left: 50%;
   /* Negative half of height. */
  margin-left: -350px; /* Negative half of width. */
  /* position: -webkit-sticky; */
  /* position: sticky; */
  z-index: 900;
}


.sticky_ppt_tools{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 850;
  background-color: white;
}