{% extends "base.html" %}



{% block app_content %}

{% block ppt_breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {% if table !='project' %}
      <a href="{{url_for('ppt.index',table='project')}}">Projects</a>
      {% else %}<b>Projects</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='ppt' %}
      <a href="{{url_for('ppt.index',table='ppt')}}">PowerPoints</a>
      {% else %}<b>PowerPoints</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='slide' %}
      <a href="{{url_for('ppt.index',table='slide')}}">Slides</a>
      {% else %}<b>Slides</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='tags' %}
      <a href="{{url_for('ppt.index',table='tags')}}">Tags</a>
      {% else %}<b>Tags</b>
      {% endif %}
    </li>

    <li class="breadcrumb-item">
      {% if table!='trash' %}
      <a href="{{url_for('ppt.index',table='trash')}}">
       Trash
      </a>
      {% else %}<b>Trash</b>
      {% endif %}
    </li>
   
  </ol>
</nav>
{% endblock %}


{% block ppt_navbar %}

<div class="sticky_ppt_tools">
<div class="row ">
  <div class="col-md-9 ">
    <nav aria-label="Page navigation narrow">
      <ul class="pagination narrow ">
        <li class=" previous {% if not prev_url %} disabled{% endif %}">
          <a class='page-link' href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&larr;</span>
          </a>
        </li>
        {% for pn,pu in page_url %}
    
        <li class="previous {% if pn==active %} active{% endif %}"><a href="{{pu}}">{{pn}}</a></li>
    
        {% endfor %}
        <li class=" previous {% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3">
    <nav aria-label="Page navigation narrow">
      <ul class="pagination narrow">
        <li class=" previous " >
         
            <a aria-hidden="true" href="javascript:void(0)" onclick="show_hidden_title_body(event)">Show Text</a>
           
        </li>

        <li class="thumbnail_small previous {% if thumbnail=='small' %} active{% endif %}">
          <!-- <a  href="{{ url_for('ppt.index',page=active,thumbnail='small',table=table,id=id) }}" > -->
            <a onclick="javascript:_set_thumbnail(event,'small')" >
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </a>
        </li>

        <li class="thumbnail_medium previous {% if thumbnail=='medium' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='medium',table=table,id=id) }}"> -->
            <a onclick="javascript:_set_thumbnail(event,'medium')">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </a>
        </li>
        
        <li class="thumbnail_large previous {% if thumbnail=='large' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='large',table=table,id=id) }}" > -->
            <a onclick="javascript:_set_thumbnail(event,'large')">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>
<div style="padding: 5px;"></div>
{% endblock %}

{% block ppt_content %}

{% if table=='trash' %}
{% include "ppt/slide.html" %}
{%else%}
{% include "ppt/%s.html" | format(table) %}
{% endif %}

{% endblock %}



{% if tags_list %}
<datalist id="tags_list">
{% for val in tags_list %}
  <option value="{{val}}" />
{% endfor %}
</datalist>
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src= "{{url_for('static',filename='js/ppt_js.js')}}"></script>
<script>  
  function slide_add_flag(event, action) {
      let slide_id = $(event.target).attr('name');
      let color = $(event.target).text();
      if (color) {
        // change and display flag
        let color_id = { N: "none", G: 'green', B: 'blue', R: 'red' }[color];
        let target_box = $(`span[name='${slide_id}']`).closest('.box');
        target_box.removeClass('red green blue').addClass(color_id);
        $.ajax({
          url: "{{url_for('ppt.add_flag')}}",
          type: "POST",
          data: JSON.stringify({ flag: color_id, slide_id: slide_id }),
          contentType: "application/json",
          success: function (result) {
            display_flash_message(result.html, 1000);

          },
          error: function (xhr, resp, text) { alert(`Save Flag error: ${text}`) },
        })
      } else {

        // add to compare cart
        $.ajax({
          url: "{{ url_for('ppt.add_to_slide_cart')}}",
          type: "POST",
          data: JSON.stringify({ slide_id: slide_id, action: action }),
          contentType: 'application/json',
          success: function (result) {
            // update cart rendering.
            let slide_count = result['slide_count'];
            $('#slide_cart_count').html(slide_count);
            $('#slide_cart_count_container').css('display', slide_count ? 'block' : 'none');
            if (action == 'delete') {
              $(`.slide_container[name=${slide_id}]`).fadeOut(500).done().remove();
            } else {
              display_flash_message(result.html, 1000);
            }
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        });
      }
    }

    function add_ppt_to_follow(event) {
      let ppt_id = $(event.target).attr('name');
      let action = $(event.target).text();
      $.ajax({
        url: "{{url_for('ppt.add_ppt_to_follow')}}",
        type: "POST",
        data: JSON.stringify({ ppt_id: ppt_id, action: action }),
        contentType: "application/json",
        success: function (result) {
          display_flash_message(result.html, 1000);
          if (!result.status) {
            $(event.target).text('Follow');
            $(event.target).removeClass('label-warning').addClass('label-info')
          } else {
            $(event.target).text('Unfollow');
            $(event.target).removeClass('label-info').addClass('label-warning')
          }
        },
        error: function (xhr, resp, text) { alert(`Save Flag error: ${text}`) },
      })
    }


  function save_edit(envent, table, field, id) {
    let container = $(event.target).closest('.input_container');
    let value = $(event.target).parent().parent().find('input').val();
    //confirm(`Change ${field} to ${value}?`)
    if (true) {
      $.ajax({
        url: "{{url_for('ppt.edit')}}",
        type: "POST",
        data: JSON.stringify({ id: id, data: value, field: field, table: table }),
        contentType: "application/json",
        success: function (result) {
          display_flash_message(result.html);
          $(container).find('span.slide_tag').html(result.tag);
          $(container).find(`span.${table}_note`).html(result.note);
        },
        error: function (xhr, resp, text) { alert(`Save edit error: ${text}`) },
      });
    }
  }
</script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
{% endblock %}
