{% extends "base.html" %}



{% block app_content %}

{% block ppt_breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {% if table !='project' %}
      <a href="{{url_for('ppt.index',table='project')}}">Projects</a>
      {% else %}<b>Projects</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='ppt' %}
      <a href="{{url_for('ppt.index',table='ppt')}}">PowerPoints</a>
      {% else %}<b>PowerPoints</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='slide' %}
      <a href="{{url_for('ppt.index',table='slide')}}">Slides</a>
      {% else %}<b>Slides</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='tags' %}
      <a href="{{url_for('ppt.index',table='tags')}}">Tags</a>
      {% else %}<b>Tags</b>
      {% endif %}
    </li>

    <li class="breadcrumb-item">
      {% if table!='trash' %}
      <a href="{{url_for('ppt.index',table='trash')}}">
       Trash
      </a>
      {% else %}<b>Trash</b>
      {% endif %}
    </li>
   
  </ol>
</nav>
{% endblock %}


{% block ppt_navbar %}

<div class="sticky_ppt_tools">
<div class="row ">
  <div class="col-xs-9">
    <nav aria-label="Page navigation narrow">
      <ul class="pagination narrow ">
        <li class=" previous {% if not prev_url %} disabled{% endif %}">
          <a class='page-link' href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&larr;</span>
          </a>
        </li>
        {% for pn,pu in page_url %}
    
        <li class="previous {% if pn==active %} active{% endif %}"><a href="{{pu}}">{{pn}}</a></li>
    
        {% endfor %}
        <li class=" previous {% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-3" align='right'>
    <nav aria-label="Page navigation narrow">
      <ul class="pagination narrow">
        <li class=" thumbnail_list previous {% if thumbnail=='list' %} active{% endif %} " >
              <a onclick="javascript:_set_thumbnail(event,'list','{{table}}')">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>
           <!--  <a aria-hidden="true" href="javascript:void(0)" onclick="show_hidden_title_body(event)">Show Text</a> -->
        </li>

        <li class="thumbnail_small previous {% if thumbnail=='small' %} active{% endif %}">
          <!-- <a  href="{{ url_for('ppt.index',page=active,thumbnail='small',table=table,id=id) }}" > -->
            <a onclick="javascript:_set_thumbnail(event,'small','{{table}}')" >
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </a>
        </li>

        <li class="thumbnail_medium previous {% if thumbnail=='medium' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='medium',table=table,id=id) }}"> -->
            <a onclick="javascript:_set_thumbnail(event,'medium','{{table}}')">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </a>
        </li>
        
        <li class="thumbnail_large previous {% if thumbnail=='large' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='large',table=table,id=id) }}" > -->
            <a onclick="javascript:_set_thumbnail(event,'large','{{table}}')">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>
<div style="padding: 5px;"></div>
{% endblock %}

{% block ppt_content %}

{% if table=='trash' %}
{% include "ppt/slide.html" %}
{%else%}
{% include "ppt/%s.html" | format(table) %}
{% endif %}

{% endblock %}



{% if tags_list %}
<datalist id="tags_list">
{% for val in tags_list %}
  <option value="{{val}}" />
{% endfor %}
</datalist>
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
<script src= "{{url_for('static',filename='js/ppt_js.js')}}"></script>

<script>  
// set page layout based on thumbain parameter
$(document).ready(()=>{
  let localthumbnail = localStorage.getItem('{{table}}_thumbnail');
  let usersettings = "{{thumbnail}}";
  //set_thumbnail();
  _set_thumbnail(null, localthumbnail || usersettings, '{{table}}')
});

// function add_ppt_to_follow is defined on base page.

// add flag RGB to slide; also for adding or deleting slide from collectoins (follow ppt, slide cart, bookmark)
function slide_add_flag(event,mode) {
    let slide_id = $(event.target).attr('name');
    let color = $(event.target).text();
    if ('NRGB'.split("").includes(color)) {
      // change and display flag
      let color_id = { N: "none", G: 'green', B: 'blue', R: 'red' }[color];
      let target_box = $(`span[name='${slide_id}']`).closest('.box');
      target_box.removeClass('red green blue').addClass(color_id);
      $.ajax({
        url: "{{url_for('ppt.add_flag')}}",
        type: "POST",
        data: JSON.stringify({ flag: color_id, slide_id: slide_id }),
        contentType: "application/json",
        success: function (result) {
          display_flash_message(result.html, 1000);
        },
        error: function (xhr, resp, text) { alert(`Error ppt.add_flag: ${text}`) },
      })
    } else {
      let action = $(event.target).parent().find('.glyphicon-minus').length ? 'delete':'add';
      // add to compare cart
      //console.log({ slide_id: slide_id, action: action, mode: mode });
      $.ajax({
        url: "{{ url_for('ppt.add_to_slide_cart')}}",
        type: "POST",
        data: JSON.stringify({ slide_id: slide_id, action: action , mode: mode }),
        contentType: 'application/json',
        success: function (result) {
          if (result.notice) {
              display_flash_message(result.html, 1000);
          };
          if (action == 'delete') {
            $(`.slide_container[name=${slide_id}]`).fadeOut(500, function(){ $(this).remove() });
          };
          let count = result.count;
          if (mode=='slide_cart') { 
          $('#slide_cart_count').html(count);
          $('#slide_cart_count_container').css('display', count ? 'block' : 'none');
            } else if (mode=='follow_ppt') {
          $('#follow_ppt_count').html(count);
          $('#follow_ppt_count_container').css('display', count ? 'block' : 'none');
          }
        },
        error: function (xhr, resp, text) {
          alert(`function ppt.add_to_slide_cart Error: ${text}`)
        }
      });
    }
  }


// ajax to add all slide in slide cart to bookmark
function add_to_bookmark(event) {
  if( confirm('Sure to Bookmark all selected slides?')) {
    $.ajax({
      url: "{{url_for('ppt.add_to_bookmark')}}",
      type:"POST",
      success: function(result){
        display_flash_message(result.html,1000)
      }
    })
  }
};


// save edits to note and tag
function save_edit(envent, table, field, id) {
    let container = $(event.target).closest('.input_container');
    let value = $(event.target).parent().parent().find('input').val();
    //confirm(`Change ${field} to ${value}?`)
    if (true) {
      $.ajax({
        url: "{{url_for('ppt.edit')}}",
        type: "POST",
        data: JSON.stringify({ id: id, data: value, field: field, table: table }),
        contentType: "application/json",
        success: function (result) {
          display_flash_message(result.html,1000);
          $(container).find('span.slide_tag').html(result.tag);
          $(container).find(`span.${table}_note`).html(result.note);
        },
        error: function (xhr, resp, text) { alert(`Save edit error: ${text}`) },
      });
    }
  }

</script>
{% endblock %}
