{% extends "base.html" %}



{% block app_content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {% if table !='project' %}
      <a href="{{url_for('ppt.index',table='project',thumbnail=thumbnail)}}">Projects</a>
      {% else %}<b>Projects</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='ppt' %}
      <a href="{{url_for('ppt.index',table='ppt',thumbnail=thumbnail)}}">PowerPoints</a>
      {% else %}<b>PowerPoints</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='slide' %}
      <a href="{{url_for('ppt.index',table='slide',thumbnail=thumbnail)}}">Slides</a>
      {% else %}<b>Slides</b>
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if table!='tags' %}
      <a href="{{url_for('ppt.index',table='tags',thumbnail=thumbnail)}}">Tags</a>
      {% else %}<b>Tags</b>
      {% endif %}
    </li>

    <li class="breadcrumb-item">
      {% if table!='trash' %}
      <a href="{{url_for('ppt.index',table='trash',thumbnail=thumbnail)}}">
       Trash
      </a>
      {% else %}<b>Trash</b>
      {% endif %}
    </li>
   
  </ol>
</nav>

{% if entries %}
<div class="sticky_ppt_tools">
<div class="row">
  <div class="col-md-9">
    <nav aria-label="Page navigation">
      <ul class="pagination ">
        <li class=" previous {% if not prev_url %} disabled{% endif %}">
          <a class='page-link' href="{{ prev_url or '#' }}" aria-label="Previous">
            <span aria-hidden="true">&larr;</span>
          </a>
        </li>
        {% for pn,pu in page_url %}
    
        <li class="previous {% if pn==active %} active{% endif %}"><a href="{{pu}}">{{pn}}</a></li>
    
        {% endfor %}
        <li class=" previous {% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}" aria-label="Next">
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3">
    <nav aria-label="Page navigation">
      <ul class="pagination ">
        <li class=" previous " >
         
            <a aria-hidden="true" href="javascript:void(0)" onclick="show_hidden_title_body(event)">Show Text</a>
           
        </li>

        <li class="thumbnail_small previous {% if thumbnail=='small' %} active{% endif %}">
          <!-- <a  href="{{ url_for('ppt.index',page=active,thumbnail='small',table=table,id=id) }}" > -->
            <a  href="javascript:set_thumbnail('small')" >
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </a>
        </li>

        <li class="thumbnail_medium previous {% if thumbnail=='medium' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='medium',table=table,id=id) }}"> -->
            <a href="javascript:set_thumbnail('medium')">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </a>
        </li>
        
        <li class="thumbnail_large previous {% if thumbnail=='large' %} active{% endif %}">
          <!-- <a href="{{ url_for('ppt.index',page=active,thumbnail='large',table=table,id=id) }}" > -->
            <a href="javascript:set_thumbnail('large')">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>
{% if table=='trash' %}
  {% include "ppt/slide.html" %}
{%else%}
{% include "ppt/%s.html" | format(table) %}
{% endif %}



{% endif %}

{% if tags_list %}
<datalist id="tags_list">
{% for val in tags_list %}
  <option value="{{val}}" />
{% endfor %}
</datalist>
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
  
<script >
  function show_hidden_title_body(event){
    let status = $(event.target).text();
    let scroll = $(window).scrollTop();
    let element;
    let offset;
    $(".img-responsive").each(function(){
      
      if ($(this).offset().top-scroll>100) {
        element=$(this); 
        offset = $(this).offset().top - scroll;
        return false}
      
    });
    if (status=='Show Text'){
       $(".thumbnail-hidden").css('display', 'block');
       $(event.target).text("Hide Text");
    }
    else {
      $(".thumbnail-hidden").css('display', 'none');
       $(event.target).text("Show Text");
    };  
      $(window).scrollTop($(element).offset().top-offset);
  };

  $(document).ready(function () {
      $(document).keydown(function (e) {
        if ($(e.target).attr('class') == "modal bs-example-modal-lg in") {
          let currentmoal = parseInt($(e.target).attr('name'));
          let gap = {small:6,medium:4,large:1}["{{thumbnail}}"];
          let next = false;
          switch (e.which) {
            case 37: // left
              next = currentmoal - 1;
              break;
            case 38: // up
              next= currentmoal - gap;
              break;
            case 39: // right
            next = currentmoal + 1;
              break;
            case 40: // down
            next = currentmoal + gap;
              break;}
          if ($(`.modal[name="${next}"]`).length){
                $(`.modal[name="${currentmoal}"]`).modal('hide');
                $(`.modal[name="${next}"]`).modal('show');
                $(`img[name="modal-${next}"]`).css('border', "10px solid rgb(92, 236, 99)");
                let windowheight = $(window).height();
                if ($(`img[name="modal-${next}"]`).offset().top-$(window).scrollTop()>windowheight-25){
                  $(window).scrollTop($(`img[name="modal-${next}"]`).offset().top);
                }
                else if($(`img[name="modal-${next}"]`).offset().top - $(window).scrollTop() < 0) {
                  $(window).scrollTop($(`img[name="modal-${next}"]`).offset().top -windowheight+50)
                }
              }
        }
      });
    });

  $(document).ready(function(){
    $('.modal.bs-example-modal-lg').on('hidden.bs.modal', function (event) {
      let currentmoal = parseInt($(event.target).attr('name'));
      setTimeout(function(){ $(`img[name="modal-${currentmoal}"]`).css('border', "");},100)
    })
  })

  $(".slide_edit_trigger").on('click', function (event) {
    let id = $(this).attr('id');
    if (!$(this).find('input').length) {
    let tag = $(this).find('span.slide_tag').text();
    let note = $(this).find('span.slide_note').text();
    tag = tag==='None' ? "" : tag;
    note = note === 'None' ? "" : note;
    $(this).find("span.slide_tag").html(`
        <div class="input-group">
        <input type="text" class="form-control" value="${tag}" list='tags_list' >
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="save_edit(event,'slide','tag','${id}')">Save Tag</button>
            </span>
                </div> `);
    $(this).find("span.slide_note").html(`<div class="input-group">
            <input type="text" class="form-control" value="${note}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_edit(event,'slide','note','${id}')">Save Note</button>
                </span>
                </div>`)
    }
  });

  function save_edit(envent,table,field,id){
    let container = $(event.target).closest('.input_container');
    let value = $(event.target).parent().parent().find('input').val();
    //confirm(`Change ${field} to ${value}?`)
    if (true){
      $.ajax({
        url:"{{url_for('ppt.edit')}}",
        type:"POST",
        data:JSON.stringify({id:id,data:value,field:field,table:table}),
        contentType:"application/json",
        success: function (result){
          display_flash_message(result.html);
          $(container).find('span.slide_tag').html(result.tag);
          $(container).find(`span.${table}_note`).html(result.note);
          close_toast_message(1500)
        },
        error: function (xhr,resp,text){alert(`Save edit error: ${text}`)},
      });
    }
  }


  $(".ppt_edit_trigger").on('click', function (event) {
        let id = $(this).attr('id');
        if (!$(this).find('input').length) {
          let note = $(this).find('span.ppt_note').text();
          note = note === 'None' ? "" : note;
          $(this).find("span.ppt_note").html(`<div class="input-group">
            <input type="text" class="form-control" value="${note}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_edit(event,'ppt','note','${id}')">Save Note</button>
                </span>
                </div>`)
        }
      });


  function set_thumbnail(size) {
    let divs = $('.slide_container');
    $('.thumbnail_small').removeClass('active');
    $('.thumbnail_medium').removeClass('active');
    $('.thumbnail_large').removeClass('active');
    $(".slide_container").unwrap();
    let grid_col = 0
    switch (size) {
      case "small":
        $('.slide_image_container').addClass('slidezoom');
        $('.slide_input').addClass('thumbnail-hidden').css('display','none');
        $('.slide_container').removeClass().addClass('slide_container col-md-2 col-sm-4');
        $('.thumbnail_small').addClass('active');
        $('.zoom-hidden-text').css('display',"");
        grid_col=6
        break;
      case 'medium':
      $('.slide_image_container').addClass('slidezoom');
        $('.slide_input').addClass('thumbnail-hidden').css('display', 'none');
        $('.slide_container').removeClass().addClass('slide_container col-md-3 col-sm-6');
        $('.thumbnail_medium').addClass('active');
        $('.zoom-hidden-text').css('display', 'block');
       grid_col=4
        break;
      case 'large':
      $('.slide_image_container').removeClass('slidezoom');
      $('.slide_input').removeClass('thumbnail-hidden').css('display', 'block');
      $('.slide_container').removeClass().addClass('slide_container col-md-6 col-sm-12');
      $('.thumbnail_large').addClass('active');
      $('.zoom-hidden-text').css('display', 'block');
       grid_col=2
      break;
    };
     for (let i = 0; i < divs.length; i += grid_col) {
      divs.slice(i, i + grid_col).wrapAll("<div class='row slide_row'> </div>  ")
    }
    };
  
    $(document).ready(set_thumbnail("{{thumbnail}}"))

  $(".project_edit_trigger").on('click', function (event) {
    let id = $(this).attr('id');
    if (!$(this).find('input').length) {
      let note = $(this).find('span.project_note').text();
      note = note === 'None' ? "" : note;
      $(this).find("span.project_note").html(`<div class="input-group">
            <input type="text" class="form-control" value="${note}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_edit(event,'project','note','${id}')">Save Note</button>
                </span>
                </div>`)
    }
  });




</script>

{% endblock %}
