{% for entry in entries  %}
<div>
    <div class="slide_container col-md-2 ">
        <div class="box ">
        <div class="slide_title"> {{entry.name}}</div>
            <div class='slide'>
                <a href="{{url_for('ppt.index',table=nextcontent,id=entry.id,thumbnail=thumbnail) }}">
                    <img src="{{url_for('ppt.get_ppt_slides',filename=entry.uri,)}}" class="img-responsive image-link"
                        alt="{{entry.name}}"></a>  
                <div class='zoom-hidden-text ppt_edit_trigger input_container' id="{{entry.id}}">
                    <p>Note: <span class="ppt_note">{{entry.note}}</span></p>
                    <p>Project: {{entry.project.name}}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{%endfor%}

