{% extends "ppt/index.html" %}


{% block ppt_breadcrumb %}
{% if mode=='selected' %}
        <div class='row'>
            <div class='col-xs-4'><a href="{{backurl}}" class='btn btn-info' style="margin-left:28%">Go Back</a></div>
            <div class='col-xs-4'>
                <h2 align='center' class='narrow'>Selected Slides</h2>
            </div>
            <div class='col-xs-4'><a href="{{url_for('ppt.remove_all_slide_cart')}}" class='btn btn-danger'
                    style="margin-left:48%" onclick="return confirm('Sure to remove all selected slides?')">Clear All</a></div>
        </div>
        
{% elif mode=='update' %}
        <div class='row'>
            <div class='col-xs-4'><a href="{{backurl}}" class='btn btn-info' style="margin-left:28%">Go Back</a></div>
            <div class='col-xs-4'>
                <h2 align='center' class='narrow'>Project Slide Updates</h2>
            </div>
            <div class='col-xs-4'><a href="{{url_for('ppt.read_allslides',ppt_id=ppt_id)}}" class='btn btn-danger'
                    style="margin-left:48%" onclick="return confirm('Sure to mark all slides as read?')">Read All</a></div>
        </div>
{% else %}
        blockofcode
{% endif %}
<hr style="margin-bottom: 12px; margin-top:6px;">
{% endblock %}

{% block ppt_content %}

<div class='row' id="sortable">

    {% for entry in entries  %}
    <div class="slide_container col-xs-2" name="{{entry.id}}">
        <div class="box {{entry.flag}}">
            <div class="slide_title">{{entry.ppt.name}}</div>
            <div class="slide_flag">
                <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                    class="label label-default cursor_pointer">N</span>
                <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                    class="label label-primary cursor_pointer">B</span>
                <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                    class="label label-success cursor_pointer">G</span>
                <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                    class="label label-danger cursor_pointer">R</span>
                <span onclick="javascript:slide_add_flag(event,'delete')" name="{{entry.id}}"
                    class="label label-warning cursor_pointer"><span name="{{entry.id}}"
                        class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
            </div>
            <div class="slide_image_container">
                <img data-toggle="modal" name="{{loop.index}}" data-target="#modal-slide{{entry.id}}"
                    src="{{url_for('ppt.get_ppt_slides',filename=entry.uri,)}}" class="img-responsive image-link"
                    alt="No Snapshot - {{entry.title}}">
            </div>
            <div class='slide_input input_container slide_edit_trigger thumbnail-hidden' style="display: none;"
                id="{{entry.id}}">
                <p>Tag: <span class="slide_tag">{{entry.tag}}</span></p>
                <p>Note: <span class="slide_note">{{entry.note}}</span></p>
            </div>
            <div class="thumbnail-hidden" style="display: none;">
                <p><b>Title:</b> {{entry.title}}</p>
                <p style="white-space:pre-wrap;"><b>Body:</b> {{entry.body}}</p>
            </div>
            <p align='right' style="padding: 1px;">{{entry.date.strftime('%Y-%m-%d')}} | Page-{{entry.page}}</p>
        </div>
    </div>
    {%endfor%}

</div>


<!-- modal display -->
{% for entry in entries %}
<div class="modal bs-example-modal-lg" name="{{loop.index}}" id="modal-slide{{entry.id}}" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class='row'>
                <div class="col-md-12">
                    <div class="thumbnail ">
                        <h5><a href="{{url_for('ppt.index',table='slide',id=entry.ppt_id)}}">{{entry.ppt.name}}</a>
                            <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                                class="label label-default cursor_pointer">N</span>
                            <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                                class="label label-primary cursor_pointer">B</span>
                            <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                                class="label label-success cursor_pointer">G</span>
                            <span onclick="javascript:slide_add_flag(event)" name="{{entry.id}}"
                                class="label label-danger cursor_pointer">R</span>
                            <span onclick="javascript:slide_add_flag(event,'delete')" name="{{entry.id}}"
                                class="label label-warning cursor_pointer"><span name="{{entry.id}}"
                                    class="glyphicon glyphicon-minus"></span></span></h5>
                        <img src="{{url_for('ppt.get_ppt_slides',filename=entry.uri,)}}"
                            class="img-responsive image-link" alt="No Snapshot - {{entry.title}}">
                        <div class="input_container slide_edit_trigger" id="{{entry.id}}">
                            <p>Tag: <span class="slide_tag">{{entry.tag}}</span></p>
                            <p>Note: <span class="slide_note">{{entry.note}}</span></p>
                        </div>
                        <p align='right'>Edit Date: {{entry.date.strftime('%Y-%m-%d')}} | Page-{{entry.page}}</p>
                        <p><b>Title:</b> {{entry.title}}</p>
                        <p style="white-space:pre-wrap;"><b>Body:</b> {{entry.body}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}
