<div class='row' id="sortable">

{% for entry in entries  %}
<div class="slide_container col-md-2 ">
    <div class="box {{entry.flag}}">
        <div class="slide_title"> {{entry.ppt.name}}</div>
        <div class="slide_image_container" >
            <img data-toggle="modal"  name = "{{loop.index}}" data-target="#modal-slide{{entry.id}}" src="{{url_for('ppt.get_ppt_slides',filename=entry.uri,)}}" class="img-responsive image-link"
                alt="No Snapshot - {{entry.title}}">
        </div>
            <div class='slide_input input_container slide_edit_trigger thumbnail-hidden' style="display: none;" id="{{entry.id}}">
                <p>Tag: <span class="slide_tag">{{entry.tag}}</span></p>
                <p>Note: <span class="slide_note">{{entry.note}}</span></p> 
            </div>
            <div class="thumbnail-hidden" style="display: none;">
                <p><b>Title:</b> {{entry.title}}</p>
                <p style="white-space:pre-wrap;"><b>Body:</b> {{entry.body}}</p>
            </div>  
        <p align='right'>{{entry.date.strftime('%Y-%m-%d')}} | Page-{{entry.page}}</p>
    </div>
</div>
{%endfor%}

</div>


<!-- modal display -->
{% for entry in entries %}
    <div class="modal bs-example-modal-lg"  name = "{{loop.index}}" id="modal-slide{{entry.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class='row'>
                    <div class="col-md-12">
                        <div class="thumbnail ">
                                    <h5><a href="{{url_for('ppt.index',table='slide',id=entry.ppt_id)}}">{{entry.ppt.name}}</a></h5>
                                    <img src="{{url_for('ppt.get_ppt_slides',filename=entry.uri,)}}" class="img-responsive image-link"
                                    alt="No Snapshot - {{entry.title}}">
                                <div class="input_container slide_edit_trigger" id="{{entry.id}}">
                                    <p>Tag: <span class="slide_tag">{{entry.tag}}</span></p>
                                    <p>Note: <span class="slide_note">{{entry.note}}</span></p>
                                </div>
                                <p align='right'>Edit Date: {{entry.date.strftime('%Y-%m-%d')}} | Page-{{entry.page}}</p>
                                <p><b>Title:</b> {{entry.title}}</p>
                                <p style="white-space:pre-wrap;"><b>Body:</b> {{entry.body}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
