{% extends "base.html" %}


{% block app_content %}
<div class="jumbotron">
    <h1>Hi, System Admin {{ current_user.username }}!</h1>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="{{url_for('admin.reindex_models') }}" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">Reindex Elastic Search Models</h5>
            <p class="card-text">Rebuild index for elastic search engine.</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="{{url_for('auth.create_newuser') }}" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">Invite new user.</h5>
            <p class="card-text-light">Send invitation to new user.</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="{{url_for('admin.clear_ppt_trash')}}" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">Clear PPT Trash</h5>
            <p class="card-text-light">Clear empty projects, PPT without associated project, and unnoted ppt slides.</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">PH</h5>
            <p class="card-text-light">PH</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="{{url_for('admin.clear_trash') }}" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">Clear trash.</h5>
            <p class="card-text">Delete 1 day old tasks.</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="{{url_for('admin.test') }}" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">PH</h5>
            <p class="card-text">PH</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">PH</h5>
            <p class="card-text">PH</p>
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail custom-card alert-success well-lg">
            <h5 class="card-title">PH</h5>
            <p class="card-text">PH</p>
        </a>
    </div>
</div>


{% endblock %} 
