{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="jumbotron">
      <h1>FOLDojo</h1>
    </div>

    <div class="row">

          <div class="col-xs-6 col-md-4">
              <a href="" class="thumbnail custom-card alert-success well-lg" >
                <h5 class="card-title">PH</h5>
                <p class="card-text">PH</p>
            </a>
          </div>
        
    </div>

{% endblock %}


{#
{% if prev_url %}
    <a href="{{ prev_url }}">Newer Posts</a>
{% else %}
    <span style='color:grey'>Newer Posts</span>
{% endif %}
{% if next_url %}
    <a href="{{ next_url }}">Older Posts</a>
{% else %}
<span style='color:grey'>Older Posts</span>
{% endif %}
#}
