{% extends "bootstrap_base.html" %}

{%- block styles %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css">
{%- endblock styles %}


{% block title %}
    {% if title %}
     {{ title }} - Aptitude
    {% else %}
      Welcome to Aptitude
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class='container'>
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ url_for('main.index') }}">Aptitude</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    <li><a href="{{ url_for('ngs.ngs') }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> NGS</a></li>
                    <li><a href="{{ url_for('apps.index') }}"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> APPS</a></li>
                    <li><a href="{{ url_for('ppt.index') }}"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> PPT</a></li>
                  </ul>

                  

                  <ul class="nav navbar-nav navbar-right">
                      {% if current_user.is_anonymous %}
                      <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
                      {% else %}
                               
                    
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{current_user.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{url_for('auth.profile')}}">Profile</a></li>
                          <li><a href="{{url_for('main.analysis_profile')}}">NGS Analysis</a></li>
                          <li><a href="#">...</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">...</a></li>
                          {% if current_user.isadmin %}
                              <li role="separator" class="divider"></li>
                              <li><a href="{{url_for('admin.admin')}}">Admin Page</a></li>
                          {% endif %}
                          
                          
                        </ul>
                      </li>
                      <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                      <li><a type="button"  data-toggle="modal" data-target="#search_dialog"><span
                          class="glyphicon glyphicon-search" aria-hidden="true"></span> </a></li>
                    
                    {% endif %}
                    {% if not current_user.is_anonymous %}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li id="analysis_cart_count_container" style="visibility:{% if current_user.analysis_cart %}visible{%else%}hidden{%endif%};">
                      <a href="{{url_for('ngs.analysis_cart')}}">  
                        <span id='analysis_cart_count' class='badge'><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>{{current_user.analysis_cart_count()}}</span>
                      </a>
                    </li>
                  </ul>
                  {% endif %}
                  

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

</div>
<!-- Modal -->
<div class="modal fade" id="search_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {% block search_form %}
      {% set formname=g.search_form.__class__.__name__ %}
      {% if formname=='SearchNGSForm' %}
          {% include "search/ngs_search_form.html" %}
      {% elif formname=='SearchInventoryForm' %}
          {% include "search/inventory_search_form.html" %}
      {% elif formname=='SearchPPTForm' %}
        {% include "search/ppt_search_form.html" %}
      {% else %}
        <h1 align='center'>No Search Available</h1>
      {% endif %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container" style="min-height: 100px;" id='main_container'>
  <div class="flash_message_container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% include "flash_messages.html" %}
  {% endwith %}
</div>
  

    {% block app_content %}{% endblock %}
</div>
<!-- footer -->
<div class='container' style="padding: 20px;">
<div class='row' >
  <h5 align='center'>Copyright &copy;<a href="http://www.aptitudemedical.com/"> Aptitude Medical Systems, Inc. 2019</a></h5>
</div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // update flash message
        function display_flash_message(result){
          $(".flash_message_container").html(result)
        };

            $(document).ready(function () {
              var url = window.location.pathname.split('/')[1];
              if (url) {
              $('ul.nav a[href*="'+ url +'"]').parent().addClass('active');
              $('ul.nav a').filter(function() {
                   return this.href == url;
              }).parent().addClass('active');
              }
          });
    

          $(document).ready(function () {
              $(window).resize(function () {
                var bodyheight = $(this).height();
               
                $("#main_container").css('min-height',bodyheight-150);
              }).resize();
            });

      // monitor key board.
      {% if current_user.is_authenticated %}
          $(document).ready(function () {
              $(document).keypress(function (e) {
                var c = String.fromCharCode(e.which);
                if (e.target.tagName == 'BODY' && c === 'f') {
                  $('#search_dialog').modal('show');
                }
              });
            });
      {% endif %}
      
      // close toast
      function close_toast_message(event){
         // console.log($(event.target).parent(".toast__close"));
         // e.preventDefault();
         // var parent = $(".my_toast_container").parent(".toast__close").parent('.toast').parent('.my_toast_container');
         // parent.fadeOut(300, function () { $(this).remove(); });
          $(".my_toast_container").fadeOut(300, function () { $(this).remove(); })
        
      }
      /*$(document).ready(function () {
          $('.toast__close').click(close_toast_message(event));
        });*/
      
        
      
    </script>
{% endblock %}
